h1 {
    text-align: center;
    color: #ffffff;
    font-family: 'Coiny', cursive;
}
body {
    background: url(../images/background.jpg) no-repeat fixed;
    background-size: 100% 100%;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 2em;
}

img {
    width: 98%;
}

.quizContainer {
    border-radius: 25px;
    background-color: #ffffff;
    padding: 5%;
    margin-top: 10%;
}

.question {
    margin-bottom: 15px;
}

/*not working*/
.list-group-class {
    text-align: center;
}

.container {
    margin-bottom: 60px;
}
.copyright {
    font-size: 0.55em;
    color: white;
    text-align: center;
    border-top: 1px solid white;

}
.footer {
    background: transparent;
    border: none;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
}